@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500;600;700&display=swap");
* {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
}

.font-semibold {
  font-weight: 700 !important;
}

th {
  border-radius: 0px !important;
}
.cl-internal-11ttlho{
    display: none !important;
}
.cl-internal-180wb59{
    display: none !important;
}
.cl-internal-1lldyk3{
  display: none !important;
}
